body{
    margin:0px;
}
main{
    margin-left: 20px;
    margin-right: 20px;
}
h1{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color:rgb(74, 74, 74);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    text-decoration: none;
    color: white;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color:rgb(39, 39, 39);
}
.navbar li{
    float: left;
}