@font-face{
    src: url(fonts/Sigmar-Regular.ttf);
    font-family: Sigmar-Regular;
}

@font-face{
    src: url(fonts/BebasNeue-Regular.ttf);
    font-family: Bebas-Neue;
}

h1{
    font-family: Sigmar-Regular, verdana, arial;
}
p{
    font-family: "Bebas Neue", "lucida console", "courier new";
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
}